// body {
//   // --color-neutral-2: #e2e4eb;
// }

body[arco-theme='dark'] {
  --color-text-1: #fff;
  --color-text-2: #e1e1e1;
  --color-text-3: #acb7c5;
  --color-bg-2: var(--card-bg);
  --color-bg-3: #ffffff24;
  --color-fill-1: #e8e9ee30;
  --color-fill-2: #e8e9ee30;
  --color-neutral-2: #383c47;
  --color-spin-layer-bg: #00000070;
  --color-bg-popup: var(--card-bg);
  --table-bg: transparent;
  --color-neutral-3: var(--border-color);
  --color-danger-light-1: rgba(249, 143, 120, 0.2784313725);
  --gray-10: 232, 232, 253;
}

.arco-image-preview-img-container {
  backdrop-filter: blur(10px);
}

.arco-empty .arco-empty-description,
.arco-empty-image {
  color: var(--secondary-color) !important;
}

.arco-input-wrapper:hover,
.arco-textarea-wrapper:hover {
  background-color: var(--color-neutral-2) !important;
}

.arco-modal {
  backdrop-filter: blur(10px);
}

.arco-message {
  backdrop-filter: blur(5px);
}

.arco-trigger-popup-wrapper {
  backdrop-filter: blur(10px);
}

.arco-table-col-fixed-right {
  backdrop-filter: blur(10px);
}

.arco-table-td {
  color: var(--text-color);
  background-color: transparent !important;
}

.arco-select-dropdown {
  border: none !important;
}

.arco-select-dropdown .arco-select-option {
  background-color: transparent !important;
}

.arco-select-dropdown .arco-select-option-active,
.arco-select-dropdown
  .arco-select-option:not(.arco-select-dropdown .arco-select-option-disabled):hover {
  background-color: var(--color-bg-popup) !important;
}

.arco-table-td {
  background-color: var(--table-bg) !important;
}

.arco-input-wrapper:hover,
.arco-input-wrapper.arco-input-focus,
.arco-input-wrapper:focus-within,
.arco-select-view-single.arco-select-view-focus,
.arco-select-view-single:focus-within,
.arco-textarea-wrapper.arco-textarea-focus,
.arco-textarea-wrapper:focus-within,
.arco-select-dropdown .arco-select-option-active,
.arco-select-dropdown
  .arco-select-option:not(.arco-select-dropdown .arco-select-option-disabled):hover {
  border-color: transparent !important;
  background-color: var(--color-neutral-2) !important;
}

.arco-table-tr {
  &:hover {
    .arco-table-td {
      background-color: var(--color-fill-1) !important;
    }

    &.arco-table-tr-empty {
      .arco-table-td {
        background-color: transparent !important;
      }
    }
  }
}

.arco-table-container {
  border-radius: var(--border-radius);
  overflow: hidden;

  .arco-table-tr {
    &:last-child {
      .arco-table-td {
        // border-bottom: none !important;
        border-color: transparent !important;
      }
    }
  }
}

.arco-scrollbar-container {
  overflow: auto;
}

.arco-scrollbar {
  width: 100%;
  // height: 100%;
}

.scroll-h-100 {
  .arco-scrollbar {
    height: 100%;
  }
}

.arco-table-col-fixed-right {
  box-shadow: -2px 0 4px -1px var(--bg-color);
}

.arco-table-tr {
  &:hover {
    .arco-table-col-fixed-right {
      background-color: var(--color-bg-2) !important;
    }
  }
}

.arco-table-tr-empty {
  .arco-table-td {
    border-bottom: none !important;
  }
}

.arco-message {
  border: none !important;
  background-color: var(--card-bg);
}

.arco-modal-simple .arco-modal-footer {
  text-align: right;
}

.arco-scrollbar-thumb-direction-horizontal .arco-scrollbar-thumb-bar {
  height: 8px;
  // margin: 0;
}

.arco-scrollbar-track-direction-vertical {
  width: 8px;
}

.arco-scrollbar-thumb-direction-vertical .arco-scrollbar-thumb-bar {
  width: 8px;
  margin: 0;
  // background-color: var(--card-bg);
}

.arco-input-wrapper {
  // border-color: var(--light-border);
  // background-color: var(--color-bg-2);

  &:hover {
    background-color: var(--color-bg-2);
    border-color: rgb(var(--primary-6));
  }
}

.arco-popover-popup-content,
.arco-popconfirm-popup-content,
.arco-trigger-arrow {
  border-color: var(--border-color) !important;
  // box-shadow: 0 4px 10px var(--main-bg);
}

.arco-dropdown {
  border: none;
  box-shadow: var(--shadow);
}

.arco-dropdown-list-wrapper {
  max-height: max-content !important;
}

.arco-radio-button.arco-radio-checked {
  background-color: rgb(var(--primary-6)) !important;
  color: #fff;
}

.flex-table {
  height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;

  .arco-scrollbar-container {
    height: 100%;
  }

  .arco-table-content > .arco-scrollbar.arco-scrollbar-type-embed:nth-child(2) {
    height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.arco-alert {
  align-items: baseline;
}

.arco-table-th {
  background-color: var(--card-bg) !important;
}

.arco-message {
  word-break: break-all;
  text-align: left;
}
.arco-table-col-fixed-right {
  box-shadow: -2px 0 4px -1px #00000030;
}

// .arco-scrollbar-track-direction-horizontal {
//   height: 10px;
// }
